		
	<!-- Header Section -->
	<header id="header" class="header-section header-position container-fluid no-padding animated fadeInDown">
		<!-- Top Header -->
		<div class=" container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="logo-block col-md-3"><a href="index.html" title="Hotely"><img src="assets/images/logo.png" alt="Logo"></a></div>
					<div class="col-md-9 contact-detail text-right">
					<div class="phone">
							
							<h6 style=" padding-left:30px;"><i class="fa fa-mobile" style="color:#9cc44a; padding-right:10px; font-size:20px;"></i>CALL US</h6>
							<a href="tell:+91 99400 28160" title="+91 99400 28160">+91 99400 28160</a>
						</div>
						<div class="phone">
							
							<h6 style=" padding-left:30px;"><i class="fa fa-envelope" style="color:#9cc44a; padding-right:10px;" ></i>EMAIL US</h6>
							<a href="mailto:info@applettree.com" target="_blank">info@efileindia.com</a>
						</div>
						
						
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Top Header /- -->
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<nav class="navbar navbar-default ow-navigation">
							<div class="navbar-header">
								<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a href="index.html" title="Hotely" class="navbar-brand">e-FILE INDIA</a>
							</div>
							<div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 10px;">
								<ul class="nav navbar-nav">
									
									<li class="dropdown active ddl-active dp-1">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Start a Business</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu dp-1">
											<span><li><b>FOR INDIAN OWNERS</b></li></span>
											<li><a href="#">Proprietorship</a></li>
												<li><a href="#">Partnership</a></li>
											<li><a href="#">One Person Company</a></li>
											<li><a href="#">Limited Liability Partnership</a></li>
											<li><a href="#">Private Limited Company</a></li>
											<li><a href="#">Public Limited Company</a></li>										
											
											<span><li><b>FOR FOREIGN OWNERS</b></li></span>
											<li><a href="#">Indian Subsidiary</a></li>
											
											<span><li><b>SPECIAL ENTITIES</b></li></span>
											
											<li><a href="#">Nidhi Company</a></li>
											<li><a href="#">Producer Company</a></li>
											<li><a href="#">Section 8 Company</a></li>
											
											<li><a href="#">Submenu</a></li>
										</ul>										
									</li>								
									
									
									<li class="dropdown ">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Registrations</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<span><li><b>TAX REGISTRATIONS</b></li></span>
											<li><a href="#">GST Registration</a></li>
												<li><a href="#">GST Registration for Foreigners</a></li>
											<li><a href="#">Temporary GST Registration</a></li>
											<li><a href="#">Professional Tax</a></li>
											<li><a href="#">TAN Registration</a></li>
											<li><a href="#">PF Registration</a></li>
											
											<span><li><b>OTHER REGISTRATION</b></li></span>
											<li><a href="#">ESI Registration</a></li>
											<li><a href="#">MSME Registration</a></li>
											<li><a href="#">Import Export Code</a></li>
											<li><a href="#">FSSAI Registration</a></li>
											<li><a href="#">Digital Signature</a></li>
											<li><a href="#">Trade License</a></li>
											
										</ul>
									</li>								
									
									<li class="dropdown">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Intellectual Property</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<span><li><b>TRADEMARK</b></li></span>
											<li><a href="#">Trademark Registration</a></li>
											<li><a href="#">Trademark Rectification</a></li>
											<li><a href="#">Trademark Objection</a></li>
											<li><a href="#">Trademark Opposition</a></li>
											<li><a href="#">Trademark Renewal</a></li>
											<li><a href="#">Submenu</a></li>
											
											<span><li><b>OTHERS</b></li></span>
											<li><a href="#">Logo Designing</a></li>
											<li><a href="#">Copyright Registration</a></li>
											<li><a href="#">Design Registration</a></li>
											<li><a href="#">Provisional Patent</a></li>
											<li><a href="#">Patent Registration</a></li>
										</ul>
									</li>								
									
									<li class="dropdown">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Compliance</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<span><li><b>CORPORATE FILINGS</b></li></span>
											<li><a href="#">Name Change</a></li>
											<li><a href="#">Registered Office Change</a></li>
											<li><a href="#">Add Directors</a></li>
											<li><a href="#">Remove Directors</a></li>
											<li><a href="#">Increase Authorized Capital</a></li>
											<li><a href="#">Share Transfer</a></li>
											<li><a href="#">MOA Amendment</a></li>
											<li><a href="#">Add Partner</a></li>
											<li><a href="#">Winding Up of Company</a></li>
											<li><a href="#">Winding Up of LLP</a></li>
											
											<span><li><b>ANNUAL COMPLIANCE</b></li></span>
											<li><a href="#">Proprietorship</a></li>
											<li><a href="#">Partnership</a></li>
											<li><a href="#">Limited Liability Partnership</a></li>
											<li><a href="#">Private Limited Company</a></li>
											<li><a href="#">Foreign Subsidiary</a></li>										
											
										</ul>
									</li>								
									
									
									<li class="dropdown">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Tax Filling</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<span><li><b>FOR BUSINESS</b></li></span>
											<li><a href="#">Business Tax Filing</a></li>
												<li><a href="#">TDS Return</a></li>
											<li><a href="#">ESI Return</a></li>
											<li><a href="#">Cancel GST Registration</a></li>
											
											
											
											<span><li><b>INCOME TAX</b></li></span>
											<li><a href="#">ITR-1 Form Filing</a></li>
											<li><a href="#">ITR-2 Form Filing</a></li>
											<li><a href="#">ITR-3 Form Filing</a></li>
											<li><a href="#">ITR-4 Form Filing</a></li>
											<li><a href="#">ITR-5 Form Filing</a></li>
											<li><a href="#">ITR-6 Form Filing</a></li>
											<li><a href="#">ITR-7 Form Filing</a></li>
											<li><a href="#">Income Tax Notice</a></li>
										</ul>
									</li>
									
																		
									<li class="dropdown">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Funding</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<span><li><b>DOCUMENTATION</b></li></span>
											<li><a href="#">Business Plan Preparation</a></li>
											<li><a href="#">CMA Report Preparation</a></li>
											<li><a href="#">Bank Loan Rating</a></li>
											<li><a href="#">Credit Score Check</a></li>
											
											<span><li><b>SYNDICATION</b></li></span>
											<li><a href="#">Term Loan</a></li>
											<li><a href="#">Working Capital</a></li>
											<li><a href="#">Collateral Free Loan</a></li>
											<li><a href="#">Bank Loan Syndication</a></li>
										</ul>
									</li>
																											
									<li class="dropdown">
										<a href="#" title="Rooms" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Documents Center</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<span><li><b>EMPLOYMENT</b></li></span>
											<li><a href="#">Offer Letter</a></li>
											<li><a href="#">Appointment Letter</a></li>
											<li><a href="#">Resignation Letter</a></li>
											
											<span><li><b>CORPORATE</b></li></span>
											<li><a href="#">Partnership Deed</a></li>
											<li><a href="#">Section 138 Notice</a></li>
											<li><a href="#">Account Opening Resolution</a></li>
											
											<span><li><b>REAL ESTATE</b></li></span>
											<li><a href="#">Lease Deed - Commercial Property</a></li>
											<li><a href="#">Notice to Vacate Tenant</a></li>
											<li><a href="#">Lease Deed - Residential Property</a></li>
											
											<span><li><b>WEBSITE POLICIES</b></li></span>
											<li><a href="#">Website Terms and Conditions</a></li>
											<li><a href="#">Website Privacy Policy</a></li>
											<li><a href="#">Website Disclaimer Policy</a></li>
										</ul>
									</li>
									
								</ul>
							</div>
						</nav>
					</div>
					<div class="col-md-2 book-now">
						<a href="#" title="Enquire Now">ENQUIRE NOW</a>
					</div>
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->