<main class="site-main page-spacing">

    <!-- Slider Section -->
    <div id="slider-section" class="slider-section container-fluid no-padding">
        <div id="photo-slider" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="assets/images/slide-one.jpg" alt="Slide">

                </div>
                <div class="item">
                    <img src="assets/images/slide-two.jpg" alt="Slide">

                </div>
                <div class="item">
                    <img src="assets/images/slide-three.jpg" alt="Slide">

                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#photo-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#photo-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </a>
        </div>

    </div>
    <!-- Slider Section /- -->
    <!-- container -->
    <div class="container">
        <div class="booking-form container-fluid">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <h4>Income Tax
                    <span>eFiling</span>
                </h4>
            </div>
            <form class="col-md-10 col-sm-12 col-xs-12">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input class="form-control hasDatepicker" id="datepicker1" placeholder="Name" type="text">
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control hasDatepicker" id="datepicker2" placeholder="Email" type="text">
                </div>
                <div class="form-group">
                    <i class="fa fa-phone"></i>
                    <input class="form-control hasDatepicker" id="datepicker1" placeholder="Phone" type="text">
                </div>
                <div class="form-group">
                    <i class="fa fa-mobile"></i>
                    <input class="form-control hasDatepicker" id="datepicker2" placeholder="Mobile" type="text">
                </div>

                <div class="form-group">
                    <input value="FILE NOW" title="File Now" type="submit">
                </div>
            </form>
        </div>
        <div class="content-block container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12 content-img-block">
                    <img src="assets/images/waiter-right.jpg" alt="Waiter">
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h3>Income Tax
                        <span style="color:#9cc44a;">eFiling</span>
                    </h3>
                    <p>IWe have made the Income Tax eFiling, simple and easy. File your income tax return online with the dedicated
                        Tax Experts support from IndiaFilings. In 2016, we launched specialized services for families to
                        help them with a wide range of legal and regulatory issues. Now you can easily create a Will or avail
                        a wide-range of services required to navigate the legal and regulatory landscape as a family, with
                        ease.
                    </p>
                    <a href="#" title="view details" class="read-more">view details
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- container /- -->
    <div class="section-padding"></div>




    <!-- Recommended Section -->
    <div id="recommended-section" class="recommended-section container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="section-header">
                <h3>our services</h3>
                <p>IndiaFilings is India's largest online business services platform dedicated to helping people easily start
                    and grow their business, at an affordable cost. We were started in October 2013 with the mission of making
                    it easier for Entrepreneurs to start their business. We have since helped start and operate thousands
                    of businesses by offering a range of business services.</p>
            </div>
            <div class="recommended-detail">
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding hotel-detail">
                    <div class="col-md-6 col-sm-6 col-xs-6 no-padding hotel-img-box animated rotateIn">
                        <img src="assets/images/1.jpg" alt="Recommended" width="297" height="267">
                        <span>
                            <a href="#" title="Know More">Know More</a>
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 hotel-detail-box animated flipInX" style="padding-top: 34.5px; padding-bottom: 34.5px;">
                        <h4>START A BUSINESS</h4>
                        <p>IndiaFilings provides a range of compliance solutions from tax registration to tax return filing.
                            Obtain tax registration or file returns with the income tax department, ESI department, PF department,
                            Ministry of Corporate Affairs and more.</p>


                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding hotel-detail">
                    <div class="col-md-6 col-sm-6 col-xs-6 no-padding hotel-img-box animated rotateIn">
                        <img src="assets/images/2.jpg" alt="Recommended" width="297" height="267">
                        <span>
                            <a href="#" title="Know More">Know More</a>
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 hotel-detail-box animated flipInX" style="padding-top: 34.5px; padding-bottom: 34.5px;">
                        <h4>GST SERVICES</h4>
                        <p>IndiaFilings provides a range of compliance solutions from tax registration to tax return filing.
                            Obtain tax registration or file returns with the income tax department, ESI department, PF department,
                            Ministry of Corporate Affairs and more.</p>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding hotel-detail">
                    <div class="col-md-6 col-sm-6 col-xs-6 no-padding hotel-img-box animated rotateIn">
                        <img src="assets/images/3.jpg" alt="Recommended" width="297" height="267">
                        <span>
                            <a href="#" title="Know More">Know More</a>
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 hotel-detail-box animated flipInX" style="padding-top: 34.5px; padding-bottom: 34.5px;">
                        <h4 style="margin-top:10px;">TRADEMARKS</h4>
                        <p>IndiaFilings provides a range of compliance solutions from tax registration to tax return filing.
                            Obtain tax registration or file returns with the income tax department, ESI department, PF department,
                            Ministry of Corporate Affairs and more.</p>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding hotel-detail">
                    <div class="col-md-6 col-sm-6 col-xs-6 no-padding hotel-img-box animated rotateIn">
                        <img src="assets/images/4.jpg" alt="Recommended" width="297" height="267">
                        <span>
                            <a href="#" title="Know More">Know More</a>
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 hotel-detail-box animated flipInX" style="padding-top: 34.5px; padding-bottom: 34.5px;">
                        <h4 style="margin-top:10px;">TAX COMPLIANCE</h4>
                        <p>IndiaFilings provides a range of compliance solutions from tax registration to tax return filing.
                            Obtain tax registration or file returns with the income tax department, ESI department, PF department,
                            Ministry of Corporate Affairs and more.</p>
                    </div>
                </div>
                <a href="#" title="View More Hotels" class="read-more">view more services
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <!-- Container /- -->
        <div class="section-padding"></div>
    </div>
    <!-- Recommended Section /- -->

    <div class="section-padding"></div>
    <!-- Room Section -->
    <!-- Room Section /- -->
    <div id="room-section" class="room-section container-fluid no-padding">
        <div class="section-padding"></div>
        <!-- Container -->
        <div class="container">
            <div id="room-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-md-6 no-padding room-img">
                            <img src="assets/images/room1.jpg" alt="Room">
                        </div>
                        <div class="col-md-6 no-padding room-detail" style="padding-top: 15px; padding-bottom: 15px;">
                            <h4>Start a Business</h4>

                            <p>Talk to our Experts and get help with everything from registering a private limited company to
                                Nidhi Company.</p>
                            <a class="read-more" title="Read More" href="#">Read More
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6 no-padding room-img">
                            <img src="assets/images/room2.jpg" alt="Room">
                        </div>
                        <div class="col-md-6 no-padding room-detail" style="padding-top: 15px; padding-bottom: 15px;">
                            <h4>Protect a Brand</h4>

                            <p>Talk to our Experts and get help with everything from trademark filing to patent registration
                                in India.</p>
                            <a class="read-more" title="Read More" href="#">Read More
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-6 no-padding room-img">
                            <img src="assets/images/room3.jpg" alt="Room">
                        </div>
                        <div class="col-md-6 no-padding room-detail" style="padding-top: 15px; padding-bottom: 15px;">
                            <h4>File Tax Returns</h4>

                            <p>Talk to our Experts and get help with everything from GST return filing to income tax return
                                filing.</p>
                            <a class="read-more" title="Read More" href="#">Read More
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>



                </div>
                <!-- Controls -->
                <div class="carousel-contorls" style="left: 110px; top: 15px;">
                    <a class="left carousel-control" href="#room-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                    </a>
                    <div class="num">6 / 6</div>
                    <a class="right carousel-control" href="#room-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Container /- -->
        <div class="section-padding"></div>
    </div>
    <div class="section-padding"></div>
    <!-- Testimonial Section -->
    <div id="testimonial-section" class="testimonial-section container-fluid no-padding">
        <!-- section Header -->
        <div class="section-header">
            <h3>what our client says</h3>
        </div>
        <!-- section Header /- -->
        <!-- Container -->
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <p>These men promptly escaped from a maximum security stock ade to the Los Angeles underground these
                                Happy Days are yours and mine Happy Days as long wrong with that the Brady Bunch these HappDays
                                are yours and mine Happy Days as long wrong Brady Bunch.</p>
                            <img src="assets/images/testi1.jpg" alt="Testi">
                            <h4>andrew mcmahon</h4>
                        </div>
                        <div class="item active">
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <p>These men promptly escaped from a maximum security stock ade to the Los Angeles underground these
                                Happy Days are yours and mine Happy Days as long wrong with that the Brady Bunch these HappDays
                                are yours and mine Happy Days as long wrong Brady Bunch.</p>
                            <img src="assets/images/testi1.jpg" alt="Testi">
                            <h4>andrew mcmahon</h4>
                        </div>
                        <div class="item">
                            <span>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <p>These men promptly escaped from a maximum security stock ade to the Los Angeles underground these
                                Happy Days are yours and mine Happy Days as long wrong with that the Brady Bunch these HappDays
                                are yours and mine Happy Days as long wrong Brady Bunch.</p>
                            <img src="assets/images/testi1.jpg" alt="Testi">
                            <h4>andrew mcmahon</h4>
                        </div>
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#testimonial-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#testimonial-carousel" data-slide-to="2" class=""></li>
                    </ol>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#testimonial-carousel" role="button" data-slide="prev">
                        <i class="arrow_carrot-left"></i>
                    </a>
                    <a class="right carousel-control" href="#testimonial-carousel" role="button" data-slide="next">
                        <i class="arrow_carrot-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!-- Container /- -->
        <div class="section-padding"></div>
    </div>
    <!-- Testimonial Section /- -->

    <!-- Price Section -->
    <!-- Price Section /- -->

    <!-- Events Section -->
    <div id="events-section" class="events-section container-fluid no-padding">
        <div class="section-padding"></div>
        <!-- Container -->
        <div class="container">
            <div class="col-md-2 col-sm-12 col-xs-12 section-header">
                <h3>Latest News</h3>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 event-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#music" aria-controls="music" role="tab" data-toggle="tab">
                            <h5 style="color:#000;" class="event-date">25
                                <span>May</span>
                            </h5>
                            <h3 style="color:#FFF;">GST SERVICES
                                <span>6.00 PM - 10.30 PM</span>
                            </h3>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#movie" aria-controls="movie" role="tab" data-toggle="tab">
                            <h5 style="color:#fff;" class="event-date">25
                                <span>May</span>
                            </h5>
                            <h3 style="color:#fff;">GST SERVICES
                                <span>7.00 PM - 11.30 PM</span>
                            </h3>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#freeze" aria-controls="freeze" role="tab" data-toggle="tab">
                            <h5 style="color:#000;" class="event-date">25
                                <span>May</span>
                            </h5>
                            <h3 style="color:#FFF;">GST SERVICES
                                <span>7.00 PM - 12.30 PM</span>
                            </h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="tab-content event-content">
                    <div role="tabpanel" class="tab-pane" id="music">
                        <div class="event-box">
                            <h3>GST SERVICES</h3>
                            <p>These men promptly escaped from a maximum security stock ade to the Los Angeles underground these
                                Happy Days are yours and mine Happy Days.
                            </p>
                            <h6>VENUE</h6>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="movie">
                        <div class="event-box">
                            <h3>GST SERVICES</h3>
                            <p>These men promptly escaped from a maximum security stock ade to the Los Angeles underground these
                                Happy Days are yours and mine Happy Days.
                            </p>
                            <h6>VENUE</h6>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="freeze">
                        <div class="event-box">
                            <h3>GST SERVICES</h3>
                            <p>These men promptly escaped from a maximum security stock ade to the Los Angeles underground these
                                Happy Days are yours and mine Happy Days.
                            </p>
                            <h6>VENUE</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container /- -->
        <div class="section-padding"></div>
    </div>
    <!-- Event Section /- -->


</main>

<!-- Footer Section -->
<div class="footer-section container-fluid no-padding">
    <!-- Top Footer -->
    <div class="top-footer container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Text Widget -->
                <aside class="col-md-3 col-sm-12 col-xs-12 widget text_widget">
                    <h4 class="widget_title">e-FILE INDIA</h4>
                    <ul style="line-height:30px; list-style:none; padding-left:0px;">
                        <li class="dropdown active ddl-active">
                            <a href="index.html" title="Home" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>Home</a>


                        </li>
                        <li>
                            <a href="#" title="About Us">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>About E-File India


                            </a>
                        </li>

                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>Online Payment
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>Contact Us</a>
                        </li>
                        <li>
                            <a href="inner-admin-form.html" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>Admin login</a>
                        </li>
                    </ul>
                </aside>
                <!-- Text Widget /- -->
                <!-- Newsletter -->
                <aside class="col-md-3 col-sm-6 col-xs-6 widget widget_newsletter">
                    <h4 class="widget_title">PLATFORM</h4>
                    <ul style="line-height:30px; list-style:none; padding-left:0px;">
                        <li class="dropdown active ddl-active">
                            <a href="index.html" title="Home" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>Business Search

                            </a>


                        </li>
                        <li>
                            <a href="#" title="About Us">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>Trademark Search
                            </a>
                        </li>

                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>GST Portal</a>
                        </li>
                    </ul>
                </aside>
                <!-- Newsletter /- -->

                <aside class="col-md-3 col-sm-6 col-xs-6 widget widget_newsletter">
                    <h4 class="widget_title">USAGE</h4>
                    <ul style="line-height:30px; list-style:none; padding-left:0px;">

                        <li>
                            <a href="#" title="About Us">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>
                                Terms & Conditions

                            </a>
                        </li>

                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i> Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i> Refund Policy</a>
                        </li>
                    </ul>
                </aside>
                <!-- Newsletter /- -->
                <!-- Gallery -->
                <aside class="col-md-3 col-sm-6 col-xs-6 widget widget_newsletter">
                    <h4 class="widget_title">POLICY</h4>
                    <ul style="line-height:30px; list-style:none; padding-left:0px;">

                        <li>
                            <a href="#" title="About Us">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i>
                                Confidentiality Policy



                            </a>
                        </li>

                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i> Disclaimer Policy

                            </a>
                        </li>
                        <li>
                            <a href="#" title="Contact">
                                <i class="fa fa-angle-right" style="color:#fff; padding-right:5px;"></i> IndiaFilings Review</a>
                        </li>




                    </ul>
                </aside>
                <!-- Gallery /- -->
            </div>
        </div>
        <!-- Container /- -->
    </div>
    <!-- Top Footer -->
    <div class="bottom-footer container-fluid">
        <p>© Copyrights 2018 - E-File India. All Rights Reserved. Designed by
            <a href="http://iyarkaitechlab.com/" target="_blank">Iyarkai Tech Lab</a>
        </p>
    </div>
</div>
<!-- Footer Section /- -->